.format__header{
    width: 90%;
    margin-left: 7%;
    .header__top{
        width: 80%;
        padding-bottom: 10px;
        border-bottom: 1px solid #FFFFFF;
        margin-left: 7%;
        ul{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: -3%;
            li{
                font-family: 'proxima-nova', sans-serif;
                a{
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 135%;
                    color: white;
                }button{
                    width: 165px;
                    height: 36px;
                    background: #018ABE;
                    border-radius: 3px;
                    border: none;
                    padding: 9px 15px;
                    a{
                        font-family: 'proxima-nova', sans-serif;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 140%;    
                    }
                }
            }
        }
    }.hamburger-menu{
        display: none;
        #menu__toggle {
          opacity: 0;
        }
        #menu__toggle:checked + .menu__btn > span {
          transform: rotate(45deg);
        }
        #menu__toggle:checked + .menu__btn > span::before {
          top: 0;
          transform: rotate(0deg);
        }
        #menu__toggle:checked + .menu__btn > span::after {
          top: 0;
          transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .menu__box {
          left: 0 !important;
        }
        .menu__btn {
          display: block;
          position: fixed;
          top: 20px;
          left: 20px;
          width: 26px;
          height: 26px;
          cursor: pointer;
          z-index: 30;
        }
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #616161;
          transition-duration: .25s;
        }
        .menu__btn > span::before {
          content: '';
          top: -8px;
        }
        .menu__btn > span::after {
          content: '';
          top: 8px;
        }
        .menu__box {
          display: block;
          position: fixed;
          top: 0;
          left: -100%;
          width: 300px;
          height: 1311px;
          margin: 0;
          padding: 80px 0;
          list-style: none;
          background-color: #ECEFF1;
          box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
          transition-duration: .25s;
        }
        .menu__item {
          display: block;
          padding: 12px 24px;
          color: #333;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 600;
          text-decoration: none;
          transition-duration: .25s;
          button{
            width: 165px;
            height: 36px;
            background: #018ABE;
            border-radius: 3px;
            border: none;
            padding: 9px 15px;
            a{
                font-family: 'proxima-nova', sans-serif;
                font-weight: 600;
                font-size: 13px;
                line-height: 140%;
                color: white;
            }
        }
        }
        .menu__item:hover {
          background-color: #CFD8DC;
        }
      }
}.format__content{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-top: 30px;
    .content__h1{
        font-family: 'El Messiri',sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 140%;
    }.content__block{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: -30px;
        .block__text{
            display: flex;
            flex-direction: column;
            h1{
                width: 96px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Proxima Nova',sans-serif;
                font-weight: 700;
                font-size: 14px;
                line-height: 135%;
                background: #018ABE;
                border-radius: 5px;
            }h2{
                font-family: 'El Messiri',sans-serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 140%;
            }p{
                width: 526px;
                height: 362px;
                font-family: 'Proxima Nova',sans-serif;
                font-weight: 300;
                font-size: 16px;
                line-height: 140%;
            }
        }object{
            img{
                width: 636px;
                height: 394px;
                border-radius: 10px;
            }
        }
    }
}.format__footer{
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid #FFFFFF;
    margin-left: 13%;
    margin-top: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
    h1{
        font-family: 'Proxima Nova',sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
    }h2{
        font-family: 'Proxima Nova',sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 135%;
    }
}